<!DOCTYPE html>
<html>
<head>
           <meta charset="UTF-8">
        <title>Планувальник</title>

        <script src="/eel.js"></script> 
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="stylesheet" href="Main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="import" href="Main.html">
</head>
<body>
<div class=form_validator>
    <h1>You have successfully registered    </h1>
    <button class="main_site" type="submit" value="register" onClick=location.href="Main.html">Continue to use</button>
</div>
</body>
</html>    